main {
  width: 400px;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--text-ligth);
  margin-bottom: 10px;
}

.display {
  width: 100%;
  height: 90px;
  background-color: var(--bg-screen);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 100%;
  background-color: var(--bg-screen);
  outline: none;
  border: 0;
  font-size: 32px;
  color: var(--text-ligth);
  text-align: end;
}
